.feedback {
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__img {
    }
    &__title {
    }
    &__text {
    }
    &__input {
    }
    &__btn {
    }
}
