.menu {    
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__link {
        padding-bottom: 5px;
        font-size: 18px;
        line-height: 21px;
        color: $white;
        text-transform: uppercase;
        
        &:hover {
            border-bottom: 1px solid #FEFEFE;
            
        }
    }
}