.menu {    
    &__list {
        display: flex;
    }
    &__item {        
        margin: 0 15px;
    }
    &__link {
        padding: 6px 0 5px;
        font-size: 18px;
        line-height: 21px;
        color: $white;
        text-transform: uppercase;      
        border-bottom: 1px solid transparent;  
        transition: all .5s;
        &:hover {
            border-bottom: 1px solid #FEFEFE;            
        }
    }
}