.slick-dots {
    font-size: 0;
}

.slick-dots button {
    margin: 5px 0;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: $primary;
    font-size: 0;
}

.slick-active button {
    width: 16px;
    height: 16px;
}

.cover__slider .slick-dots {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.reviews__slider .slick-dots button {
    margin: 0 5px;
    background-color: $accent;
}

.reviews__slider .slick-dots {
    display: flex;
    justify-content: center;
}