
/* Fonts */
$fontFamilyFirst: 'Roboto Condensed', sans-serif;
$fontFamilySecond: 'Fira Sans', sans-serif;

/* Colors */
$white: #FEFEFE;
$black: #000000;
$dark: #1B1818;
$accent: #C5AC2D;
$primary: #332208;

/* Breakpoints */
$xxl: 1200px;
$xl: 1024px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xxs: 320px;